KRX_ID=
KRX_PW=
DATA_GO_KR_SERVICE_KEY=

KBSEC_BASE_URL=https://developer.kbsec.com:32484
KBSEC_APP_KEY=
KBSEC_APP_SECRET=

TOSSINVEST_BASE_URL=https://openapi.tossinvest.com
TOSSINVEST_CLIENT_ID=
TOSSINVEST_CLIENT_SECRET=
